.footer {
    flex: 1;
    align-items: center;
    display: flex;
    padding-bottom:10px ;
    padding-top:10px ;
  }
  
.image {
    height: 30px;
    width: 30px;
  }
  .text{
    margin-right: 5%;
    padding: 2px;
  }
input:focus{
    outline: none;
    font-size: large;
    height: 40px;
}

input{
  outline: none;
  font-size: large;
  height: 40px;
  padding-left: 5px;
}
.button {
  background-color: #000fff;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  border-radius: 40px;
}
.link {
  text-decoration: none;
  margin-right: 5px;
  margin-left: 5px;
}

.title {
  text-align: justify;
  font-weight: bold;
}
.commentSpacing{
  padding-left: 5px;
  padding-right: 5px;
}
.comment {
  text-align: justify;
  font-size: small;
  padding-left: 5px;
  padding-right: 5px;
}
.commentContainer{
  padding-bottom: 20px;
}
.commentHeader{
  align-items: center;
  justify-content: space-between;
  background-color: #f1f2f2;
  padding: 5px;
  margin-top: 10px;
  display: flex;
}
.commentInput{
  min-width: 150px;
  border-radius: 80px;
  flex:0.95;
  background-color: white;
  border-color: white;
}
@media only screen and (max-width: 600px) {
.button {
  background-color: #000fff;
  border: none;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  height: 30px;
  border-radius: 40px;
}
}
